asgiref
certifi
charset-normalizer
cloudinary
cryptography
Django>=5.0
django-cloudinary-storage
django-cors-headers
djangorestframework
djangorestframework_simplejwt
idna
Pillow
psycopg2-binary
PyJWT
python-dotenv
pytz
requests
sqlparse
tzdata
urllib3
gunicorn
whitenoise
openpyxl

django-allauth
google-auth
